#turn-sentence,
#win-display {
  font-size: 32px;
  visibility: hidden;
}

#start-banner {
  font-size: 32px;
  visibility: visible;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

table td {
  border: 5px solid black;
  background-color: white;
  width: 200px;
  height: 200px;
  font-size: 100px;
  text-align: center;
}

#status {
  font-size: 32px;
}